.total{
    flex-basis: 30%;
    margin-left: 30px;
    height: 350px;
    background: #ddd;
    padding: 20px;
    
    .total_box{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        font-size: 20px;
        .total_box_left{
            p{
                padding: 10px 0;
                font-size: 1.6rem;
            }
            h5{
                padding: 10px 0;
                font-weight: bold;
                font-size: 2.0rem;
            }
        }
        .total_box_right{
            p{
                padding: 10px 0;
                font-size: 1.6rem;
                text-align: end;
            }
            h5{
                padding: 10px 0;
                font-weight: bold;
                font-size: 1.6rem;
            }
        }
    }
    .totalBtn{
        display: flex;
        width: 100%;
        padding: 20px 0;
        
        button{
            margin: 0 auto;
            border: none;
            background: #495057;
            color: #fff;
           border-radius: 8px;
           height: 40px;
           width: 100px;
           cursor: pointer;
        }
    }
}

@media screen and (max-width:1055px) {
    .total{
        margin: 0;
    }
    
}