.detail_right{
    flex-basis: 70%;
    padding-left: 60px;
    .detail_title{
        h2{
            font-size: 3.5rem;
            padding-bottom: 30px;
        }
    }
    .detail_info{
        
        .detail_description{
            padding: 20px 0;
            p{
                font-size: 2.0rem;
            }
        }
        .detail_price{
            p{
                text-align: end;
                font-size: 2.0rem;
                padding: 50px 0;
            }
           
        }
    }
    .detail_count{
        text-align: end;
        span{
            padding: 0 20px;
            font-size: 2.0rem;
        }
        .count_btn{
            width: 40px;
            height: 40px;
            background: gainsboro;
            border: none;
            cursor: pointer;
            font-size: 2.0rem;
        }
    }
    .detail_cart{
        text-align: end;
        padding: 50px 0;
        
        button{
            border: none;
            background: #495057;
            color: white;
            height: 80px;
            width: 180px;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }
}
@media screen and (max-width:1055px) {
    
    .detail_right{
        padding-right: 30px;
    }
}
@media screen and (max-width:800px) {
    .detail_right{
        .detail_title{
            h2{
                font-size: 1.8rem;
                padding-bottom: 30px;
            }
        }
        
        .detail_count{
            text-align: end;
            span{
                
                font-size: 1.2rem;
            }
            .count_btn{
                width: 30px;
                height: 30px;
                
            }
        }
        .detail_info{
            .detail_description{
                p{
                    font-size: 1.2rem;
                }
            }
            .detail_price{
                p{
                    text-align: end;
                    font-size: 1.2rem;
                    padding: 20px 0;
                }
               
            }
            .detail_cart{
                text-align: end;
                padding: 20px 0;
                
                button{
                    font-size: 1.2rem;
                    height: 40px;
                    
                }
            }
        }
    }
    
    
    
    
}