.categories{
    text-align: end;
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 20px;
        padding: 0 20px;
        @media screen and (max-width:800px) {
            grid-template-columns: repeat(3, 1fr);
        }
        li{
            width: 100%;
            text-align: center;
           p{
            text-align: center;
            cursor: pointer;
            height: 30px;
            text-transform: capitalize;
            font-size: 14px;
            
           }
        }
        .active{
            border-bottom: 5px solid #eee;
            
        }
    }
}

