
.home{
    width: inherit;
    height: 100vh;
    background: url(../assets/home.bg.jpg);
    .shop_btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
}

